*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 100%;
  width: 400px;
}

body {
  box-sizing: border-box;
  background-color: #F1FAEE;
  font-family: 'Lato', sans-serif;
}

.header {
  background-color: #1D3557;
  color: #FFF;
  text-align: center;
  padding: 2rem 1.5rem;
}

.header__title {
  font-size: 2.5rem;
  font-weight: 300;
  margin-bottom: 10px;
}

.header__lead {
  font-size: 1rem;
  font-weight: 300;
}

.main {
  margin: 15px 0;
}

.words {
  padding: 1rem 1.5rem;
}

.words__title {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.words__boxes {
  display: flex;
  flex-wrap: wrap;
}

.words__box {
  margin: 0 10px 20px 0;
  background-color: #e2eafc;
  padding: 5px 8px;
  border-radius: 10px;

  display: flex;
  align-items: center;
  box-shadow: 0px 0px 15px 0px #96969647;
  transition: transform 0.2s ease-in;
}

.words__box:hover {
  transform: translateY(-1px);
}

.create {
  padding: 0 1.5rem 1rem;
}

.create__form {
  display: flex;
}

.create__input {
  padding: 10px 20px;
  outline: none;
  border: 1px solid #96969656;
  border-radius: 100px;
  margin-right: 10px;
  width: 100%;
}

.create__btn {
  padding: 10px 20px;
  border-radius: 100px;
  border: none;
  outline: none;
  background-color: #1d355747;
  cursor: pointer;
  transition: background-color .1s ease-in-out;
}

.create__btn:hover {
  background-color: #1d35571f;
}

.footer {
  background-color: #6ae97063;
}

.footer__status {
  background-color: inherit;
  display: flex;
  padding: 1rem 1.5rem;
  align-items: center;
}

.footer__status--btn {
  height: 10px;
  width: 10px;
  background-color: inherit;
  filter: brightness(20%);
  border-radius: 50%;
  display: inline-block;
  box-shadow: 0px 2px 20px 0px #96969645;
  margin: 10px 20px 10px 10px;
}